@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  /* @apply bg-gray-50 dark:bg-gray-900; */
}

/* Write your own custom component styles here */
/* .btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
} */

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



/* SearchBox Output

<div class="ais-SearchBox">
  <form class="ais-SearchBox-form" novalidate>
    <input class="ais-SearchBox-input" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search for products" spellcheck="false" maxlength="512" type="search" value="" />
    <button class="ais-SearchBox-submit" type="submit" title="Submit the search query.">
      <svg class="ais-SearchBox-submitIcon" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 40 40">
        ...
      </svg>
    </button>
    <button class="ais-SearchBox-reset" type="reset" title="Clear the search query." hidden>
      <svg class="ais-SearchBox-resetIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="10" height="10">
        ...
      </svg>
    </button>
    <span class="ais-SearchBox-loadingIndicator" hidden>
      <svg width="16" height="16" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#444" class="ais-SearchBox-loadingIcon">
        ...
      </svg>
    </span>
  </form>
</div>

*/

.ais-SearchBox {
  @apply flex-1 flex
}

.ais-SearchBox-form {
  @apply relative w-full flex md:ml-0 text-gray-400 focus-within:text-gray-600
}

.ais-SearchBox-input {
  @apply block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm
}

.ais-SearchBox-submit {
  @apply absolute inset-y-0 left-0 flex items-center pointer-events-none
}

/* Refinement List Output

<div class="ais-RefinementList">
  <div class="ais-RefinementList-searchBox">
    <!-- SearchBox widget here -->
  </div>
  <ul class="ais-RefinementList-list">
    <li class="ais-RefinementList-item ais-RefinementList-item--selected">
      <label class="ais-RefinementList-label">
        <input class="ais-RefinementList-checkbox" type="checkbox" value="Insignia™" checked="" />
        <span class="ais-RefinementList-labelText">Insignia™</span>
        <span class="ais-RefinementList-count">746</span>
      </label>
    </li>
    <li class="ais-RefinementList-item">
      <label class="ais-RefinementList-label">
        <input class="ais-RefinementList-checkbox" type="checkbox" value="Samsung">
        <span class="ais-RefinementList-labelText">Samsung</span>
        <span class="ais-RefinementList-count">633</span>
      </label>
    </li>
  </ul>
  <button class="ais-RefinementList-showMore">Show more</button>
</div> */

.ais-RefinementList-list {
  @apply font-normal text-gray-700 text-sm;
}

.ais-RefinementList-item {
  @apply mt-0.5;
}

.ais-RefinementList-item--selected {
  @apply font-semibold;
}

.ais-RefinementList-labelText {
  @apply pl-2;
}

.ais-RefinementList-count {
  @apply bg-gray-100 py-0.5 px-1 rounded;
}

.ais-RefinementList-checkbox {
  @apply rounded;
}

/* Clear Refinements Button */

/* <div class="ais-ClearRefinements">
  <button
    class="ais-ClearRefinements-button ais-ClearRefinements-button--disabled"
    disabled
  >
    Clear refinements
  </button>
</div> */

.ais-ClearRefinements {
  @apply flex justify-center
}

.ais-ClearRefinements-button {
  @apply inline-flex items-center mb-1 px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
}

.ais-ClearRefinements-button--disabled {
  @apply opacity-50 hover:bg-indigo-600 cursor-not-allowed;
}

/* Stats */

/* <div class="ais-Stats">
  <span class="ais-Stats-text">20,337 results found in 1ms.</span>
</div> */

.ais-Stats-text {
  @apply text-xs
}

/* Sort By */

/* <div class="ais-SortBy">
  <select class="ais-SortBy-select">
    <option class="ais-SortBy-option" value="instant_search">Featured</option>
    <option class="ais-SortBy-option" value="instant_search_price_asc">Price asc.</option>
    <option class="ais-SortBy-option" value="instant_search_price_desc">Price desc.</option>
  </select>
</div> */

.ais-SortBy-select {
  @apply text-xs text-gray-700 border-0 rounded-md text-right
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */